/*Normalize*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: $font-primary;
    font-size: 1.125rem;
    color: map-get($colores, text-color);
}

h1, h2, h3, .menu__link, .menu__link--deshabilitado,
.producto__nombre--heladera, .producto__nombre--lavarropas {
    font-family: $font-title;
}

h1, h2, h3 {
    color: map-get($colores, text-color);
}

h1 {
    text-decoration: none;
}

h2 {
    font-size: 1.875rem;
    text-decoration: underline;
}

h3 {
    font-size: 1.5rem;
}