@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Roboto&display=swap');
/*font-family*/
$font-primary: 'Roboto', sans-serif;
$font-title: 'Lato', sans-serif;

/*Colors*/
$primary: crimson;
$secondary: midnightblue;
$alternative: #b13b527a;
$text-color: black;

